@using Microsoft.AspNetCore.Components.Authorization
@using WeddingApp.Controllers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/wwwroot/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/wwwroot/app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    @* <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" /> *@
</head>

<body>
    @* <Routes/> *@
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>